__pycache__/
*.py[cod]
.Python
.DS_Store
/.coverage
/.eggs/
/.tox
/docs/_build/
/bin/
/build/
/build-deb.log
/deb_dist/
/dist/
/fremantleline.base64
/fremantleline.egg-info/
/glob
/include/
/lib/
/lib64
/local/
/MANIFEST
/pip-selfcheck.json
/pyvenv.cfg
/share/
/src/
/wheelhouse/
