[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Perth Trains
Exec=invoker --type=e --single-instance --splash=/opt/fremantleline/splash/harmattan.png /opt/fremantleline/bin/fremantleline
Icon=/opt/fremantleline/fremantleline.png
Categories=Network;
