[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Perth Trains
Exec=invoker --single-instance --type=e /usr/bin/fremantleline
Icon=/usr/share/icons/hicolor/64x64/apps/fremantleline.png
Categories=Network;
